# Rename this file to "Makefile.env" so to use it as local overrides 
# for Makefiles default values:
#
# NOTE:
# You can use the make interface to modify this:
#
#   ```
#   make project from=hasura-todos
#   ```
#

project=hasura-todos