version: '3.9'
services:
  postgres:
    image: postgres:14
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    volumes:
      - .docker-data/pg:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}

  adminer:
    image: adminer:4.8.1
    ports:
      - '${ADMINER_PORT:-8008}:8080'

  hasura:
    image: hasura/graphql-engine:v2.7.0
    ports:
      - '${HASURA_PORT:-8080}:8080'
    environment:
      HASURA_GRAPHQL_DEV_MODE: 'true'
      HASURA_GRAPHQL_ENABLE_CONSOLE: 'true'
      HASURA_GRAPHQL_ADMIN_SECRET: '${HASURA_ADMIN_SECRET:-hasura}'
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: 'anonymous'
      HASURA_GRAPHQL_DATABASE_URL: postgres://postgres:${POSTGRES_PASSWORD:-postgres}@postgres:5432/postgres
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      HASURA_GRAPHQL_ENABLE_TELEMETRY: 'false'
    restart: unless-stopped
